html{
    font-size: 100%;
}

button{
    background: linear-gradient(125deg, rgb(224, 202, 160), rgb(238, 195, 114), rgb(253, 188, 66), rgb(238, 195, 114), rgb(224, 202, 160), rgb(238, 195, 114));
    font-size: max(5px,1.5vw);
    height: fit-content;
    width: fit-content;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
}
nav{
    display: flex;
    justify-content:space-around;
}
body{
    background: linear-gradient(45deg, rgb(224, 202, 160), rgb(238, 195, 114), rgb(253, 188, 66), rgb(238, 195, 114), rgb(224, 202, 160), rgb(238, 195, 114));
    font-size: max(10px,2vw);
    display:  grid;
    gap: 1vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
h1{
    grid-column: span 2;
    text-align: center;
    margin-bottom: 0;
}
.subtitle{
    grid-column: span 2;
    margin-top: 0;
    text-align: center;
    font-size: 100%;
    padding: 0%;
    margin-bottom: 0;
    font-style: italic;
}
h2{
    text-align: center;
    font-size: 100%;
    padding: 0%;
    margin-bottom: 0;
    text-decoration: underline;

}
h3{
    font-size: 100%;
}
hr{
    margin: 0;
    width: 100%;
    height: 0.2vw;
    background-color: black;
    padding: 0%;
}
#logo{
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    flex-shrink: 100%;
    float: left;
}
.navbar-link{
    margin-left: 0;
    margin-right: 7vw;

}
.drop-down-container{
    position: relative;
    margin-left: 0;
    margin-right: 7vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: 0px;
    border-top: 0px;
    text-align: center;
}
.drop-down-content{
    display: none;
    position:absolute;
    background: linear-gradient(125deg, rgb(224, 202, 160), rgb(238, 195, 114), rgb(253, 188, 66), rgb(238, 195, 114), rgb(224, 202, 160), rgb(238, 195, 114));
    z-index: 1;
    margin: 0;
    overflow: hidden;
    border-radius: 5%;
    border: solid 1px black;
}
.drop-down-content a{
    padding-left: 2vw;
    float: none;
    color: black;
    padding: auto;
    text-decoration: none;
    display: block;
    text-align: left;
    border: solid 1px black;
}
.drop-down-content a:hover{
    background-color: lightgray;
}
.drop-down-container:hover .drop-down-content{
    display: block;
}
nav div{
    margin-top: 1vw;
    margin-bottom: 1vw;
}
header{
    
    padding: 0px;
    grid-column: span 2;
    height: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}


article{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    width: 100%;
}
article img{
    height: 100%;
}
aside{
    grid-column: span 2;
    padding: 0px;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
}

footer{
    grid-column: span 2;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.foo_endline{
        width: 100%;
}
.map{
    width: 100%;
}





@media (min-width: 60em){
    

    body{
        background-image: linear-gradient(45grad rgb(224, 202, 160) rgb(238, 195, 114) rgb(253, 188, 66) rgb(238, 195, 114) rgb(224, 202, 160) rgb(238, 195, 114));
        font-size: 2vw;
        display:  grid;
        gap: 1vw;
        grid-template-columns: min-content auto;
        grid-template-rows: auto;
    }
    nav{
        display: flex;
        justify-content:space-around;
    }
    .subtitle{
        grid-column: span 2;
        margin-top: 0;
        text-align: center;
        font-size: 100%;
        padding: 0%;
        margin-bottom: 0;
        text-decoration: none;
    }
    
    h2{
        text-align: center;
        font-size: 100%;
        padding: 0%;
        margin-bottom: 0;
        text-decoration: underline;
    
    }
    h1{
        grid-column: span 2;
        text-align: center;
        margin-bottom: 0;
    }
    header{
        
        padding: 0px;
        grid-column: span 2;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    hr{
        margin: 0;
        width: min(10em,20vw);
        height: 0.2vw;
        background-color: black;
        padding: 0%;
    }
    
    article{
        grid-column: span 2;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        justify-content: center;
        justify-items: center;
    }

    aside{
        grid-column: span 1;
        justify-content: center;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    footer{
        grid-column: span 2;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
    }
    
}

